<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    Все тренировочные дни:
</h2>
<ul>
    <li th:each="el: ${trainings}">
        <span>Номер дня: </span><span th:field="*{el.getDay()}"></span>
        <span>Группа мышц: </span><span th:field="*{el.getMuscle()}"></span>
        <span>Описание упражнения: </span><span th:field="*{el.getDescriptionExercises()}"></span>
        <span>Последнее число подходов: </span><span th:field="*{el.getLastApproaches()}"></span>
        <span>Последнее число повторений: </span><span th:field="*{el.getLastRepeats()}"></span>
        <span>Последний вес: </span><span th:field="*{el.getLastWeight()}"></span>
        <span>Дата последнего выполнения упражнения: </span><span th:field="*{el.getLastDate()}"></span>
    </li>
</ul>
</body>
</html>